@media only screen and (max-width: 600px){
body {
    background-color: rgb(51, 18, 5);
}

#cosm {
display:grid;
grid-template-areas: 
'hd hd hd'
'nv nv nv'
'mn mn mn'
'ft ft ft';
grid-gap: 4px;
border-radius: 3px;
min-height: 100vh;
}

header {
    grid-area: hd;
background-color:chocolate;
text-align: center;
border-radius: 3px;
height: 90px;
font-family: fantasy;
border-style: solid;
border-color:  rgb(218, 128, 64);
}

nav {
    grid-area: nv;
background-color:chocolate;
text-align: center;
border-radius: 3px;
height: 170px;
font-family: fantasy;
border-style: solid;
border-color:  rgb(218, 128, 64);
}

main {
    grid-area: mn;
background-color:chocolate;
text-align: center;
border-radius: 3px;
height: 180px;
font-family: fantasy;
border-style: solid;
border-color:  rgb(218, 128, 64);
}

footer {
    grid-area: ft;
background-color:chocolate;
text-align: center;
border-radius: 3px;
height: 332px;
font-family: fantasy;
border-style: solid;
border-color:  rgb(218, 128, 64);
}s

#instagram {

}

#twitter {
position: relative;
top: -16px;
}

#youtube {
position: relative;
right: -54px;
}


#don {
    position: relative;
    top: -20px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(138, 211, 211);
}


}