/* Denna fil skall innehålla din CSS kod */
@media only screen and (max-width: 600px){
    body {
        background-color: rgb(51, 18, 5);
    }
#container {
    display:grid;
    grid-template-areas: 
    'lo lo lo'
    'hd hd hd'
    'nv nv nv'
    'mn mn mn'
    'vi vi vi'
    'ft ft ft';
    grid-gap: 4px;
    border-radius: 3px;
    min-height: 100vh;
}

logga {
    grid-area: lo;
    height: 130px;
    background-color:chocolate;
    border-radius: 3px;
    border-style: solid;
    border-color:  rgb(218, 128, 64);
    font-family: fantasy;
}

h1 {

    position: relative;
    left: 235px;
    top: -175px;
}

#hem {
    position: relative;
    right: -1px;
    top: -295px;

}

#hem2 {
    position: relative;
    left: 410px;
    top: -4px;
}

/*Bild*/header {
grid-area: hd;
background-color:chocolate;
text-align: center;
border-radius: 3px;
height: 335px;
font-family: fantasy;
border-style: solid;
border-color:  rgb(218, 128, 64);
}

#tail {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-style: solid;
    border-color: rgb(176, 228, 228);
    border-width: 3px;
    position: relative;
    top: -3px;
    right: 3px;
} 

#face {
    display: block;
    margin: auto;
    width: 504px;
    height: 180px;
}

/*länkar*/nav {
grid-area: nv;
background-color: chocolate;
border-radius: 3px;
height: 145px;
border-style: solid;
border-color:  rgb(218, 128, 64);
border-width: 5px;
text-align: center;
font-family: fantasy;
}

/*Text*/main {
grid-area: mn;
background-color: chocolate;
border-radius: 3px;
height: 230px;
text-align: center;
font-family: fantasy;
border-style: solid;
border-color:  rgb(218, 128, 64);
border-width: 5px;
}
li {
    font-size: 13px;
}

/*Videos*/ vid {
    grid-area: vi;
    background-color: chocolate;
    border-radius: 3px;
    text-align: center;
    height: 170px;
    border-style: solid;
border-color:  rgb(218, 128, 64);
border-width: 5px;
}
/*källor*/
footer {
grid-area: ft;
background-color: chocolate;
border-radius: 3px;
height: 58px;
font-family: fantasy;
font-size: 1px;
border-style: solid;
border-color:  rgb(218, 128, 64);
border-width: 5px;
}

article {
    border: solid rgb(160, 95, 48) 1px;
    border-radius: 5px;
    text-align: center;
    height: 19px;
    width: 350px;
    background-color: rgb(228, 140, 78);
    position: relative;
    right: 35px;
    top: -10px;
}
video {
    font-family: fantasy;
    position: relative;
    top:  -2px;
   
}

#centlink {
display: block;
width:280px;
margin: auto;
}

#artiklar{
    font-family: fantasy;
}

#kontakt {
    font-family: fantasy;
}

}