/* Denna fil skall innehålla din CSS kod */
@media only screen and (max-width: 600px){
#container {
    display:grid;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    'mn mn mn'
    'vi vi vi'
    'ft ft ft';
    grid-gap: 2px;
    border-radius: 3px;
}
/*Bild*/header {
grid-area: hd;
background-color:chocolate;
text-align: center;
border-radius: 3px;
height: 100px;
}
/*länkar*/nav {
grid-area: nv;
background-color: chocolate;
text-align: center;
border-radius: 3px;
height: 80px;
}
/*Text*/main {
grid-area: mn;
background-color: chocolate;
text-align: center;
border-radius: 3px;
height: 230px;
}
/*Videos*/ vid {
    grid-area: vi;
    background-color: chocolate;
    border-radius: 3px;
    text-align: center;
    height: 170px;
}
/*källor*/footer {
grid-area: ft;
background-color: chocolate;
text-align: center;
border-radius: 3px;
height: 40px;
}

article {
    border: solid rgb(160, 95, 48) 1px;
    border-radius: 3px;
    text-align: center;
    height: 20px;
    width: 250px;
    background-color: rgb(228, 140, 78);
}
#videos {
    font-family: fantasy;
}

#artiklar{
    font-family: fantasy;
}

#kontakt {
    font-family: fantasy;
}

}